{% extends "template.html" %}
{% block content %}
    
    <!-- HEADER -->
    <div class="row">
      <div class="large-12 columns">
        <h7>Directory</h7>
      </div>
    </div>
    
    <!-- NOTHING but White Space -->
    <div class="row" >
      <div class="large-12 columns">
        <div class="white-space">
          <h3></h3>
        </div>
      </div>
    </div>

    <!-- SCOOPS LIST -->
    <div class="row" >

      <div class="large-4 medium-4 columns" style="text-align: center;">
        <h5>Scoops</h5>
        <p><a href="#" class="medium radius button">Story X</a><br/>
           <a href="#" class="medium radius button">Story X</a><br/>          
           <a href="#" class="medium radius button">Story X</a><br/>          
           <a href="#" class="medium radius button">Story X</a><br/>          
           <a href="#" class="medium radius button">Story X</a><br/>          
           <a href="#" class="medium radius button">Story X</a><br/>          
      </div>
      
      <!-- CANVAS SECTION-->
      <div class="large-8 medium-8 columns">
        <h5 style="text-align: center;">BUBBLES!</h5>
        <div class="row">
          <div class="large-12 columns">
            <div class="callout panel" style="text-align: center;">
              <br/><br/><br/><br/><p>current happenings</p> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>   
            </div>
            <div style="text-align: center;">
              <p><a href="{{ url_for('main') }}" class="large round button" style="background-color: #f38400;">START A FRENZY!</a></p> <br/>   
            </div> 
          </div>
        </div>
      </div>
      
    </div>


{% endblock %}