<div id="login" class="reveal-modal" data-reveal style="text-align: center;">
      <div class="row">
       <div class="large-12 columns">
        <form action="" method="POST">
          <p>{{ form.username.label }} {{ form.username }}&nbsp;{{ form.password.label }} {{ form.password }}</p>&nbsp;
          <br/><br/><br/><br/>
          <p><input class="medium round button" type="submit" value="Login"></p>
        </form>  
       </div>
      </div>
      <a class="close-reveal-modal" href="#">x</a>
    </div>