{% extends "template.html" %}
{% block content %}
    
    <!-- HEADER -->
    <div class="row">
      <div class="large-12 columns">
        <h7></h7>
      </div>
    </div>
    
    <!-- SCOOPS LIST -->
    <div class="row" >
    <!-- LEFT SIDE (MEDIA SENTIMENT) -->
      <div class="large-3 medium-3 columns" id="bubbles-data1" class="light-border" style="text-align: center;">
        <h5>Article for event</h5>
        <p class="light-border">
         <div id="display1"> </div>
        </p>
          
        <div class="light-border">
          <ul> 
            <li> link </li>
            <li> link </li>
            <li> link </li>
          </ul>
        </div>
      </div>
      
      <!-- PLAINTEXT CONTENT-->
      <div class="large-6 medium-6 columns" class="light-border" style="text-align: center;">
        <h1> Headlines!!! </h1>
        <p style='font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;'> {{ reading_text }} </p>
      </div>

      <!-- RIGHT SIDE (USER SENTIMENT) -->
      <div class="large-3 medium-3 columns" id="bubbles-data2" class="light-border" style="text-align: center;">
        <h5>Comments for event {{ title }}</h5>
        <p class="light-border" >
          <div id="display2"> </div>
        </p>

        <div class="light-border">
          <ul> 
            <li> link </li>
            <li> link </li>
            <li> link </li>
          </ul> 
        </div>        
      </div>

    </div>

  <!-- LOADJS -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
     //still gotta copy and paste this code into the console

var mediaCircles = {% autoescape false %} {{ top_tenJSON }} {% endautoescape %};

function display(data, type) {

  if(type=="comments") {
    data = data.results;
  }

  var ellipseData = [];
  var even_cx=50, odd_cx=150, cy=10, radius_y=10;

  for (var i=0; i<data.length; i++) {
    var even = (i % 2 == 0);
    ellipseData[i] = { "cx": even ? even_cx : odd_cx, "cy": cy += 40, "rx": data[i][1], "ry": radius_y, "text" : data[i][0] };
}



//Create the SVG Viewport

var display_area = type == "media" ? "#display1" : "#display2";
//getting width of columns rather than width of #display1 div
//can possibly add the width of the padding to this parameter
var target_div_w = display_area == "#display1" ? "#bubbles-data1" : "#bubbles-data2";

//Size SVG to proper div
var div_w;
div_w = $(target_div_w).outerWidth();
//div_h = $(display_area).height();
//div_w = document.getElementById(display_area).offsetWidth;
//div_h = document.getElementById(display_area).offsetHeight;

var svgContainer = d3.select(display_area).append("svg")
                                     .attr("width", div_w)
                                     .attr("height", 500)
                                     .attr("opacity", .7)
                                     .style("border", "1px solid white");
//Add circles to the svgContainer
var ellipses = svgContainer.selectAll("ellipse")
                           .data(ellipseData)
                           .enter()
                           .append("ellipse");

//Add the circle attributes
// Note that we may have to program the circles (circle radii) to be bigger depending on the length of the word
var ellipseAttributes = ellipses
                       //know more about the d attribute and what it stores
                       .attr("cx", function (d) { return d.cx; })
                       .attr("cy", function (d) { return d.cy; })
                       .attr("rx", function (d) { return d.rx + 27; }) 
                       .attr("ry", function (d) { return d.ry + 16; }) 
                       // + 5 to make word fit in bubble
                       .style("fill", function getRandomColor(d) {
                                var letters = '0123456789ABCDEF'.split('');
                                var color = '#';
                                for (var i = 0; i < 6; i++ ) {
                                    color += letters[Math.round(Math.random() * 15)];
                                }
                                return color;
                            });
                       /* basic random color function from D3_basicCircle
                          .style("fill", function color(d) {
                            var color_multiplier = d * 387; //insert in hex below 
                            return '#'+Math.floor(Math.random()*0xFF0000).toString(16); }
                        ); */

//Add the SVG Text Element to the svgContainer
var text = svgContainer.selectAll("text")
                        .data(ellipseData)
                        .enter()
                        .append("text");

//Add SVG Text Element Attributes
//NEED D.TEXT.LENGTH PROPERTY HERE
var textLabels = text
                 .attr("x", function(d) { return d.cx; })
                 .attr("y", function(d) { return d.cy; })
                 .text( function (d) { return d.text; })
                 .attr("font-family", "sans-serif")
                 .attr("font-size", "12px")
                 .attr("text-anchor","middle")
                 .attr("fill", "white");
    };

window.onload = function() { 
                  display(mediaCircles, "media");
                  $.ajax({url: "/get_JSON_comments"}).done(function(response) {
                    display(response, "comments");
                  });
                }
                  

    </script>

  </body>
</html>
{% endblock %}