<!-- REGISTER MODAL 
    <div id="register" class="reveal-modal" data-reveal style="text-align: center;">
      <div class="row">
       <div class="large-12 columns">
        <h6> Please Register </h6>
          <br/>
          <form action="" method="POST">
            <p>{{ form.name.label }} {{ form.name }}&nbsp;{{ form.email.label }} {{ form.email }}</p>&nbsp;
            <p>{{ form.password.label }} {{ form.password }}&nbsp;{{ form.confirm.label }} {{ form.confirm }}</p>
            <p><input class="large round button" type="submit" value="Register"></p>
          </form>
          <p><em>Already registered?</em> Click <a href="{{ url_for('directory') }}">here</a> to login</p>
        </div>
      </div>
      <a class="close-reveal-modal" href="#">x</a>
    </div> 
    MOVED TO SEPARATE PAGE -->


    <!-- REGISTER MODAL 
          <li style="color: blue; background-color: white;">
            <h5>
              <a href="#" style="color: blue; background-color: white;" id="register" data-reveal-id="register" data-tooltip class="has-tip" title="view large">Register</a>
            </h5>
          </li>
        REGISTER MOVED TO SEPARATE PAGE -->