 <!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEDIA FRENZY</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="shortcut icon" href="static/img/mf.ico" type="image/x-icon" />
    <script src="static/js/modernizr.js"></script>

    <style>
    .bottom-bar   {
                    position: fixed;
                    bottom: 0px;
                    width: 100%;
                    margin-bottom: 0px;
                  }
                  
    .light-border {
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(213, 238, 246);
                   }
    .white-space               
                   {
                    background-color: white; 
                    border-color: white;
                   }
    .error         
                  {
                    color: red;
                    font-size: 12px;
                  }
    svg           { 
                    
                    /*margin-left: 0px auto;
                    margin-right: 0px auto;
                    
                    position: relative;
                    left: 0; top: 0;*/
                  }
    </style>

  </head>
  <body>
  <!-- ERROR SECTION -->  
      {% for message in get_flashed_messages() %}
         <div class="flash"><h1>{{ message }}</h1></div> <br/><br/>
      {% endfor %}
      {% if error %}
        <p class="error"><strong style="color: red;">Error: </strong> {{ error }} </p> <br/><br/>
      {% endif %}
  <!-- END ERROR SECTION -->

        {% block content %}
        {% endblock %}

<!-- BOTTOM NAV BAR SECTION -->

  <!-- START MODAL CONTENT SECTION -->
  
    <!-- FRENZY MEDIA MODAL -->
    <div id="co" class="reveal-modal" data-reveal class="large-4 columns" style="text-align: center;">
      <h1> Watch Out Sharks! </h1>
      <img src='static/img/shark_above_water.jpg'>
      <a class="close-reveal-modal" href="#">x</a>
    </div>

    <!-- BLANK MODAL -->
    <div id="blank" class="reveal-modal" data-reveal class="large-4 columns" style="text-align: center;">
      <a class="close-reveal-modal" href="#">x</a>
    </div>

    <!-- LOGIN MODAL -->
    

    <!-- CONTACT MODAL -->
    <div id="contact" class="reveal-modal" data-reveal style="text-align: center;"><h1>Wanna contribute code? Contact us via GitHub:  ETF, TEDDYMCW, ASCIIMO</h1>
      <a class="close-reveal-modal" href="#">x</a>
    </div>
      
    <!-- JOBS MODAL -->
    <div id="jobs" class="reveal-modal" data-reveal style="text-align: center;"><h1>We have an internship program, unfortunately we can only pay you in beer.!</h1>
      <a class="close-reveal-modal" href="#">x</a>
    </div>

  <!-- END MODAL CONTENT SECTION -->

  <!-- Start BOTTOM NAV BAR SELF Section (special class 'bottom-bar' added to foundation) -->
  <div class="fixed" class="white-space">  
    <nav style="background-color: white;" class="top-bar bottom-bar">
      <ul class="title-area">

        <!-- FRENZY MEDIA MODAL -->
        <li class="name">
          <h1 style="color: black;" data-tooltip class="has-tip" title="Friend???" data-reveal-id="co">
                      Brought to you by Freindsy Media &nbsp;</h1>
        </li>
      </ul>
      <section class="top-bar-section" class="white-space"> 

        <!-- ????? HOW TO ADD CLEAN BLANK SPACE ???? -->
        
        <ul class="left" class="white-space">

        <!-- BLANK MODAL -->
          <li class="white-space">
            <h5 style="color: blue;" class="white-space">
              <a href="#" id="blank" data-tooltip class="has-tip" title="blank!" data-reveal-id="blank" class="white-space">...</a>
            </h5>
          </li>

        <!-- FUCK!!!! -->

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- LOGIN MODAL -->
          <li style="color: blue; background-color: white;">
            <h5>
              <a href="#" style="color: blue; background-color: white;" id="login" data-reveal-id="login" data-tooltip class="has-tip" title="view large">Login</a>
            </h5>
          </li>

        <!-- REGISTER BUTTON -->
          <li style="color: blue; background-color: white;">
            <h5>
              <a href="{{ url_for('register') }}" style="color: blue; background-color: white;" id="register" data-tooltip class="has-tip" title="view large">Register</a>
            </h5>
          </li>

        </ul>

        <ul class="right">
          <!-- CONTACT MODAL -->
          <li class="white-space">
            <h5>
              <a href="#" style="color: black; background-color: white; border-color: white;" id="contact" data-reveal-id="contact" data-tooltip class="has-tip" title="view large">Contact</a>
            </h5>
          </li>

          <!-- JOBS MODAL -->
          <li class="white-space">
            <h5>
              <a href="#" style="color: black; background-color: white;" id="jobs" data-reveal-id="jobs" data-tooltip class="has-tip" title="view large">Jobs</a>
            </h5>
          </li>

          <!-- ADD LOGOUT TO BOTTOM NAV -->
          {% if session.logged_in %}
          <br/><br/><br/><br/><br/><br/>
          <li class="white-space">
            <h5>
              <a href="{{ url_for('login') }}" style="color: black; background-color: white;" id="jobs" data-reveal-id="jobs" data-tooltip class="has-tip" title="view large">Logout</a>
            </h5>
          </li>
          {% endif %}

        </ul> 

      </section>
    </nav>
  </div>
  <!-- End BOTTOM NAV BAR SELF Section -->
<!-- End All BOTTOM NAV BAR Sections --> 

      {% if not session.logged_in %} 
        <a class="small secondary button" href="{{ url_for('login') }}">Main</a> <br/><br/><br/><br/>
      {% else %}
        <div class="row">
          <div class="large-1 columns"></div>
          <div class="large-1 large-offset-10 columns">
            <a class="small secondary button" href="{{ url_for('login') }}">Main</a>
          </div> 
        </div>    
      {% endif %}
  <!-- LOADJS -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  </body>
</html>
  